<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!--应用程序设置-->
  <appSettings>
    <!--Socket服务器地址-->
    <add key="ServerIp" value="127.0.0.1" />
    <!--Socket服务器端口，规则参见《框架说明.xlsx》-->
    <add key="ServerPort" value="13805" />

    <!--测试服务地址-->
    <add key="ServerUri" value="http://localhost:13800/api/service/" />
    <add key="TokenUri" value="http://localhost:13800/" />
    <!--<add key="ServerUri" value="http://localhost:13800/api/service/tests/test03" />-->

    <!--正式服务地址-->
    <!--<add key="ServerUri" value="http://192.168.1.234:13800/api/service/" />-->
    <!--表格数据每页显示的记录个数 20, 50, 100, 200, 500, 1000,5000,10000-->
    <add key="PageSize" value="200" />

    <!--树形菜单是否展开，1：展开，0/其他：折叠-->
    <add key="TreeMenuIsExpanded" value="0" />

    <add key="IsRemberUserName" value="true" />
    <add key="IsRemberUserPassword" value="true" />
    <add key="RemberUserName" value="" />
    <add key="RemberUserPassword" value="" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<clear/>-->
        <!--清除默认监听器-->
        <!--<add name="fileListener1" type="System.Diagnostics.TextWriterTraceListener" initializeData="log\log.log" traceOutputOptions="Callstack"  />-->
        <add name="fileListener2" type="System.Diagnostics.TextWriterTraceListener" initializeData="log\log.log" traceOutputOptions="DateTime" />
        <!--<add name="fileListener3" type="System.Diagnostics.TextWriterTraceListener" initializeData="log\log.log" traceOutputOptions="LogicalOperationStack"  />
        <add name="fileListener4" type="System.Diagnostics.TextWriterTraceListener" initializeData="log\log.log" traceOutputOptions="ProcessId"  />
        <add name="fileListener5" type="System.Diagnostics.TextWriterTraceListener" initializeData="log\log.log" traceOutputOptions="ThreadId"  />-->

        <!--<add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log\log.log"  traceOutputOptions="DateTime"  />-->
        <!--<add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log\log.log" traceOutputOptions="ThreadId"  />-->
      </listeners>
    </trace>
    <switches>
      <!--这里可以设定监听级别,可以设置Error,Warning,Info或者留空-->
      <!--Off = 0,不输出跟踪和调试消息。
      Error = 1,输出错误处理消息。
      Warning = 2,输出警告和错误处理消息。
      Info = 3,输出信息性消息、警告和错误处理消息。
      Verbose = 4,输出所有调试和跟踪消息。-->
      <add name="LogSwitch" value="4" />
    </switches>
    <assert />
  </system.diagnostics>
</configuration>